
.fa-star {
  color: #FC0;
}
.filter-rate {
  background: #fff;
  border: 1px solid #ddd;
}
.filter {
  margin-top: 15px;
}
.button-filter {
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 17px !important;
}
.home-inline {
  display: inline-block;
  width: 100%;
}
.value-price {
  margin-left: 15px;
}
.cart_summary {
  border-collapse: collapse;
}
.cart_summary th, .cart_summary td {
  border: 1px solid #ddd;
}
.continue-btn {
  cursor: pointer;
}
.current {
  padding: 10px 0;
}
.current-product {
  background: none !important;
  color: #000 !important;
  padding: 0 0 0 5px !important;
}
.del-item-cart {
  background: none!important;
  color: inherit;
  border: none;
  padding: 0!important;
  font: inherit;
  cursor: pointer;
}
.change-type {
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  -ms-appearance: checkbox;     /* not currently supported */
}
.block-subtitle {
  cursor: pointer;
  border: 2px solid #ddd;
  padding: 5px;
  background: #ddd
}
.layered-Category {
  margin-top: 15px;
}
