.avatar-user-post {
    width: 30px;
}
.display-inline {
  display: inline-block;
}
.list-group-item a {
  padding-left: 0px;
}
.is-current > a {
  padding-left: 20px;
}
.is-child > a {
  padding-left: 10px;
}

ul.slideContent {
  display: none;
}

a.header {
  color: #4caf50 ;
}

.category-collaps ul ul {
  display: none;
  padding-left: 20px;
}
.category-collaps ul li {
  color: #4caf50 ;
  text-transform: capitalize;
  font-size: 14px;
}
.cart_summary .function a {
  display: block;
  background: #4caf50;
}
.please-login {
  float: right;
  background: #4caf50;
  color: #fff;
  border: 2px solid #4caf50;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px 30px;
}
.pr-img-area {
  height: 250px !important;
}
