.add-users {
  margin-left: 10px;
  border-radius: 4px;
  padding: 5px 10px;
  background: #3c8dbc;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.avatar {
  width: 30px;
}
.but-trash {
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
  color: #3c8dbc;
}
.form-trash {
  display: inline;
}
